{
	"extends": ["eslint:recommended"],
	"env": {
		"es6": true,
		"browser": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
	"globals": {
		"global": true,
	},
	"rules": {
		"no-unused-vars": 1,
		"no-console": 1,
		"indent": [
			1,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"quotes": [
			1,
			"single"
		],
		"linebreak-style": [
			1,
			"unix"
		],
		"semi": [
			1,
			"always"
		]
	}
}
