/**
 * Fonts
 *
 * @section Base
 * @author ljd
 */
@import 'https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i';

// @font-face {
// 	font-family: 'maskoolinalt';
// 	src: url('../../media/fonts/maskoolin/maskoolin_alt-webfont.woff2') format('woff2'),
// 		url('../../media/fonts/maskoolin/maskoolin_alt-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: normal;
// }

@font-face {
	font-family: 'maskoolinregular';
	src: url('../../media/fonts/maskoolin/maskoolin-webfont.woff2') format('woff2'),
		url('../../media/fonts/maskoolin/maskoolin-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
