/**
 * Links
 *
 * Standard link styling. We're using border-bottom-color for underlines, as it looks WAY better. It can be a bit annoying though, as  you need to escape it on all a tags you use in your modules.
 *
 * @section Base
 * @author ljd
 */
%link {
	outline: none;
	@include experimental(touch-callout, none);
	@include experimental(tap-highlight-color, rgba($color-blue-brand, 0));
}
a {
	@extend %link;

	color: $color-blue-brand;
	text-decoration: none;
	vertical-align: baseline;

	@include link-active {
		color: $color-blue-brand;
	}
}
