/**
 * Typography
 *
 * @section Base
 * @author ljd
 */
h1, h2, h3, h4, h5, h6 {
	margin: spacer-size(0) 0 0;

	font-weight: 700;
}
h1, h2, h3 {
	@include adjust-font-size-to(modular-scale(1));
}
h4, h5, h6 {
	@include adjust-font-size-to(modular-scale(0));
}
dt,
dd {
	display: block;
	margin: 0; 
	padding: 0;
}
dt {
	margin: spacer-size(0) 0 0;

	font-weight: bold;
}
p,
ol,
ul,
blockquote,
figure,
figcaption,
table {
	display: block;
	margin: spacer-size(0) 0 0;
	padding: 0;
}
ul {
	list-style-type: circle;
}
figure,
figcaption {
	margin: 0;
}
code {
	@include adjust-font-size-to(modular-scale(0));
}
hr {
	margin: spacer-size(0) 0 0;
	height: 1px;
	border: none;
	background: $color-black;
}
mark {
	display: inline-block;
	padding: 0 0.25em;

	color: $color-black;
	
	background: $color-white;
}
// Media queries
@include media(mobileH) {
	h1, h2 {
		@include adjust-font-size-to(modular-scale(2));
	}
}
@include media(tabletV) {
	h1 {
		@include adjust-font-size-to(modular-scale(3));
	}
}