/**
 * Contact
 *
 * @section Modules
 * @author ljd
 */
.contact {
	padding: spacer-size(1) 0;
	color: $color-grey-medium;
	text-align: center;

	@include media(tabletV) {
		padding: spacer-size(2) 0;
	}

	@include media(tabletH) {
		width: 75%;
		margin: 0 auto;
	}
}

.contact__desc {
	margin: 0;

	@include media(tabletV) {
		@include adjust-font-size-to(type-size(2), 4);
	}
}

.contact__input,
.contact__textarea {
	margin-top: spacer-size(1);
	padding: 0 spacer-size(0);
	width: 100%;

	@include adjust-font-size-to(type-size(0), 4);
	text-align: center;

	@include media(tabletV) {
		margin-top: spacer-size(2);
		padding-left: spacer-size(1);

		@include adjust-font-size-to(type-size(2), 5);
		text-align: left;
	}
}

input.contact__input--error,
textarea.contact__textarea--error {
	box-shadow: inset 0 0 0 3px $color-red-warning;
}

.contact__input--small {
	@include media(tabletV) {
		width: calc(50% - 1em);
		float: left;
		margin-right: 2em;

		+ .contact__input--small {
			margin-right: 0;
		}
	}
}

.contact__textarea {
	padding-top: spacer-size(0);
	padding-bottom: spacer-size(0);

	height: spacer-size(0) * (2 + 20);

	&::placeholder {
		padding-top: spacer-size(0);
		padding-bottom: spacer-size(0);
	}
}

.contact__error,
.contact__success {
	margin: spacer-size(1) 0 0;
	padding: spacer-size(1) 0;
}

.contact__error {
	color: $color-white;

	background: $color-red-warning;
}

.contact__c2a {
	margin-top: spacer-size(1);

	@include media(tabletH) {
		margin-top: spacer-size(2);
		float: right;
		width: 20%;
	}
}



// Modifiers
.contact--transparent {
	color: $color-white;

	.contact__input {
		color: $color-white;

		background: rgba($color-grey-super-light, 0.5);

		box-shadow: inset 0 0 0 3px $color-white;
	}
}
