/**
 * Wrapper
 *
 * @section Modules
 * @author ljd
 */
.wrapper {
	max-width: $site-max-width;
	min-width: $site-min-width;
	padding: 0 spacer-size(0);
	margin: 0 auto;

	&:after {
		@extend %clearfix;
	}

	@include media(tabletH) {
		padding: 0 spacer-size(1);
	}
}

.wrapper--wide {
	max-width: $site-max-width-wide;
}
